:root {
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  color: #f2f3f5;
  background-color: #0b0c0f;
}

html,
body {
  background-color: #0b0c0f;
}

html,
body,
#root {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}
